<h2>Create a Room</h2>

<form action="/room/create-room" method="POST">
<div>
    <label>Name of the Room</label>
    <input type="text"  name="name">
</div>

<div>
    <label>Description</label>
    <textarea name="description" id="description" cols="40" rows="8"></textarea>
</div>

<div>
    <label>Imagen</label>
    <input type="text"  name="imageUrl">
</div>

    
    <button type="submit">Create Room!</button>

</form>